.bug {
  cursor: pointer;

  button {
    color: firebrick;
    background: 0;
    border: 0;
    padding-left: 1.5rem;
    opacity: 0.8;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }

  td {
    padding: 1.5rem 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
    color: #595f6e;
  }

  .priorityBG,
  .statusBG {
    height: 1.5rem;
    font-size: 14px;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    color: white;
  }
}
