.status-chart {
  background-color: white;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  h2 {
    text-align: center;
    margin-top: 2rem;
    color: #16213e;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
  }
}
